body{
    padding: 20px 60px;
    font-family: 'Open Sans Condensed';
}

/* for the Link which is an "a" tag HTML at base */
a{
    text-decoration: none;
    color:black;
}

*{
    box-sizing: border-box;
}